/* add design here */

  .form-area {
    display: grid;
    /* centered */
    height: 80vh;
    justify-content: center;
    align-content: center;

  }


  body{
    background-color:white;
    background-image: url("/static/images/homepage1.jpg");
    background-size:cover;
  }
    
  